.DS_Store
node_modules
/dist


# local env labels
.env.local
.env.*.local

# Log labels
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and labels
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
